#
#
# Important note:
# Voltages are set to 2.5 Volts, even though the system runs at 3.3V. This could cause problems
# with drive strengths and such, but I am not exactly sure what.
#
# The reason this was done as follows:
# 1) The LVDS input clock spec needs to use a 2.5V LVDS source to work optimally. In our case
#    it is actually 3.3V. The problem that arises from this is the built in termination
#    will have the wrong value. We are just going to live with this for now.
# 2) We need to specify voltages to specify input types if we don't want any single ended
#    inputs to be treated as differential inputs.
# 3) All these pins are in the same banks, banks are all the same voltage. So we have to make
#    it think 2.5V for the LVDS clock to work, per #1.
#

#NET "." TNM_NET = "clk_50MHz";
#TIMEGRP Grpclk_50MHz =  "clk_50MHz";
#TIMESPEC TS_clk_50 = PERIOD "Grpclk_50MHz" 12 ns HIGH 50 %

# Reset
#NET "reset" LOC = AN33 | IOSTANDARD = LVCMOS25 | CLOCK_DEDICATED_ROUTE = "FALSE"; /* HDR J6 - Pin 64 */
NET "reset" LOC = AN32 | IOSTANDARD = LVCMOS25 | CLOCK_DEDICATED_ROUTE = "FALSE"; /* HDR J4 - Pin 64 */

# Clocks
NET "clk_50MHz_p" LOC = H14 | IOSTANDARD = LVDS_25 | TNM_NET = "clk_50MHz"; /* J10 SMA Connector */
NET "clk_50MHz_n" LOC = H15 | IOSTANDARD = LVDS_25;                         /* J11 SMA Connector */
TIMESPEC "TS_clk_50" = PERIOD "clk_50MHz" 16 ns HIGH 50%;

#Debug pin
NET "compare_result" LOC = L34 | IOSTANDARD = LVCMOS25;

#Clock pin for probing
NET "debug_clk_50MHz" LOC = H33 | IOSTANDARD = LVCMOS25;  /* HDR J6 - Pin 2 */

#RENA/Frontend Board Connections
NET "frontend_tx" LOC = AN33 | IOSTANDARD = LVCMOS25;         /* HDR J6 - Pin 64 */
# The following were generated from the BackplanePinoutToFanning.xls spreadsheet, sheet B test
# Note we set them to LVCMOS25 to make them single ended, but trick the software to allow
# the clock_50MHz_p/n ports to use the built in termination resistor.
NET "frontend_rx_array[0]"  LOC = 	P34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	22 */
NET "frontend_rx_array[1]"  LOC = 	L33 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	18 */
NET "frontend_rx_array[2]"  LOC = 	T34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	22 */
NET "frontend_rx_array[3]"  LOC = 	R32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	18 */
NET "frontend_rx_array[4]"  LOC = 	M32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	20 */
NET "frontend_rx_array[5]"  LOC = 	J34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	16 */
NET "frontend_rx_array[6]"  LOC = 	R33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	20 */
NET "frontend_rx_array[7]"  LOC = 	T33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	16 */
NET "frontend_rx_array[8]"  LOC = 	AN34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	62 */
NET "frontend_rx_array[9]"  LOC = 	AJ34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	58 */
NET "frontend_rx_array[10]" LOC = 	AP32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	62 */
NET "frontend_rx_array[11]" LOC = 	AB33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	58 */
NET "frontend_rx_array[12]" LOC = 	AM32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	60 */
NET "frontend_rx_array[13]" LOC = 	AM33 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	56 */
NET "frontend_rx_array[14]" LOC = 	AC33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	60 */
NET "frontend_rx_array[15]" LOC = 	AC32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	56 */
NET "frontend_rx_array[16]" LOC = 	Y34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	30 */
NET "frontend_rx_array[17]" LOC = 	AA34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	26 */
NET "frontend_rx_array[18]" LOC = 	V33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	30 */
NET "frontend_rx_array[19]" LOC = 	U31 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	26 */
NET "frontend_rx_array[20]" LOC = 	AD32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	28 */
NET "frontend_rx_array[21]" LOC = 	N34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	24 */
NET "frontend_rx_array[22]" LOC = 	U32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	28 */
NET "frontend_rx_array[23]" LOC = 	U33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	24 */
NET "frontend_rx_array[24]" LOC = 	AL33 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	54 */
NET "frontend_rx_array[25]" LOC = 	AK32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	50 */
NET "frontend_rx_array[26]" LOC = 	AB32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	54 */
NET "frontend_rx_array[27]" LOC = 	AD34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	50 */
NET "frontend_rx_array[28]" LOC = 	AL34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	52 */
NET "frontend_rx_array[29]" LOC = 	AJ32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	48 */
NET "frontend_rx_array[30]" LOC = 	AC34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	52 */
NET "frontend_rx_array[31]" LOC = 	AF33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	48 */
NET "frontend_rx_array[32]" LOC = 	AE32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	38 */
NET "frontend_rx_array[33]" LOC = 	W32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	34 */
NET "frontend_rx_array[34]" LOC = 	AA33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	38 */
NET "frontend_rx_array[35]" LOC = 	V34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	34 */
NET "frontend_rx_array[36]" LOC = 	AH34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	36 */
NET "frontend_rx_array[37]" LOC = 	Y32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	32 */
NET "frontend_rx_array[38]" LOC = 	W34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	36 */
NET "frontend_rx_array[39]" LOC = 	V32 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	32 */
NET "frontend_rx_array[40]" LOC = 	AK33 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	46 */
NET "frontend_rx_array[41]" LOC = 	AH32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	42 */
NET "frontend_rx_array[42]" LOC = 	AE33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	46 */
NET "frontend_rx_array[43]" LOC = 	AE34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	42 */
NET "frontend_rx_array[44]" LOC = 	AK34 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	44 */
NET "frontend_rx_array[45]" LOC = 	AG32 | IOSTANDARD = LVCMOS25; /* HDR J6 - Pin 	40 */
NET "frontend_rx_array[46]" LOC = 	AF34 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	44 */
NET "frontend_rx_array[47]" LOC = 	Y33 | IOSTANDARD = LVCMOS25; /* HDR J4 - Pin 	40 */


# GTP - SATA Cables
INST "Inst_datatransmission/Inst_GTP_module/inst_diff" LOC = BUFDS_X0Y3;
NET "gtp_clkp_pin" LOC = Y4;
NET "gtp_clkn_pin" LOC = Y3;
INST "Inst_datatransmission/Inst_GTP_module/GTPwrapper_i/tile0_gtp_wrapper_i/gtp_dual_i" LOC = GTP_DUAL_X0Y3;
NET "gtp_txp" LOC = AC2;
NET "gtp_rxp" LOC = W1;
NET "gtp_rxn" LOC = Y1;
NET "gtp_txn" LOC = AB2;

# Ethernet
NET "fpga_0_Hard_Ethernet_MAC_TemacPhy_RST_n_pin" TIG;
NET "fpga_0_Hard_Ethernet_MAC_TemacPhy_RST_n_pin" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_TemacPhy_RST_n_pin" LOC = J14;
#Net fpga_0_Hard_Ethernet_MAC_MII_TX_CLK_0_pin LOC = K17  |  IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[0]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[0]" LOC = AF11;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[1]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[1]" LOC = AE11;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[2]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[2]" LOC = AH9;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[3]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[3]" LOC = AH10;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[4]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[4]" LOC = AG8;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[5]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[5]" LOC = AH8;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[6]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[6]" LOC = AG10;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[7]" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TXD_0_pin[7]" LOC = AG11;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_EN_0_pin" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_EN_0_pin" LOC = AJ10;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_ER_0_pin" IOSTANDARD = LVDCI_33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_ER_0_pin" LOC = AJ9;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_CLK_0_pin" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_TX_CLK_0_pin" LOC = J16;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[0]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[0]" LOC = A33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[1]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[1]" LOC = B33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[2]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[2]" LOC = C33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[3]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[3]" LOC = C32;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[4]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[4]" LOC = D32;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[5]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[5]" LOC = C34;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[6]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[6]" LOC = D34;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[7]" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RXD_0_pin[7]" LOC = F33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_DV_0_pin" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_DV_0_pin" LOC = E32;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_ER_0_pin" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_ER_0_pin" LOC = E33;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_CLK_0_pin" IOSTANDARD = LVCMOS25;
NET "fpga_0_Hard_Ethernet_MAC_GMII_RX_CLK_0_pin" LOC = H17;

NET "boardid[0]" LOC = AE26;
NET "boardid[1]" LOC = AC25;
NET "boardid[2]" LOC = AC24;
